.App {
  text-align: center;
  
}
.home{
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #c72b2b;
  height: 100px;
  padding: 20px;
  color: rgb(248, 244, 244);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
